@page
@model LostAndFoundRazorPages.Pages.FoundItemViews.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FoundItems</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.DateFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.DateFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.ImagePath)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FoundItems.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
