@page
@model LostAndFoundRazorPages.Pages.FoundItemViews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoundItems</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.DateFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.DateFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoundItems.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoundItems.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FoundItems.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
